.page{
    height: 500px;
    overflow: auto;
}

.h{
   margin-left: 15px;
   margin-top: 50px;
}

.h1{
  height: 80px;
  width: 560px;
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  display:flex;
  justify-content: space-between;
}

.h1 .h1-switch{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-one{
  height: 80px;
  width: 560px;
  background-color: blue;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  display:flex;
}

.h1 a{
  display: flex;
  align-items: center;
  font-size: 0.6em;
}

.h2{
  height: 80px;
  width: 560px;
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  display:flex;
}

.h2 p{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin:10px;
}

.h1>input{
  position: absolute;
  margin-left:520px;
  margin-top: 35px;
}

/* .h1 span{
  display:flex;
  align-items: center;
  
  
} */

/* .h1 p{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin:10px;
} */

.h1 button{
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:80px ;
  margin-top: 25px;
}

.h4{
  display: flex;
  flex-direction: column;
}

.h4-one{
  display: flex;
  flex-direction: row;
}

.h4-two span{
  position:absolute;
  margin-top:-50px;
  margin-left:550px;
}

.h4-three h4{
  height: 1px;
  margin-top: 1px;
  
}

.view7 select{
  width: 160px;
  height: 29px;
  margin-top: 29px;
  background-color: whitesmoke;
}

.view7 button{
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-color: whitesmoke;
}

.page select{
  width: 120px;
  height: 29px;
  margin-top: 29px;
  background-color: whitesmoke;
}

/* .h1>span{
  display:flex;
   align-items:center;
  margin-right: 30px;

} */

.span-repeat{
  position:absolute; 
}

.h1-view12{
  display: flex;
  flex-direction: row;
}

.h1-p{
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#h1-span{
  position:absolute;
   margin-top: 30px;
    margin-left: 520px;
}

.h1 .down{
  display: flex;
  flex-direction: row;
}  

.areaHide{
  display: none;
}

.area{
    width: 560px;
     height: 20px;
     font-size: 0.5em;
     display: flex;
     align-items: center;
     margin-left: 10px;
}

.areaCss{
    background-color: whitesmoke;
    width: 560px;
    margin: 10px;
    border-radius: 10px;
    margin-top: -10px;
    transition:all 2s;
	  -webkit-transition:height 2s;
}

.upInput {
  display: none;
}

.downInput {
  height: 80px;
  width: 560px;
  background-color: whitesmoke;
  margin: 10px;
  margin-top: -9px;
  border-radius: 10px;
  display: flex;
  justify-content: inherit;
  align-items: center;
  /* transition: all 2s;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; */
}

#iiput{
  margin-left: 440px;
}